@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700|Playfair+Display:900');
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: rgba(15, 15, 0, 0.9);
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.125em;
    font-weight: 700;
    min-height: 100%;
    height: auto;
    width: 100%;
    color: #57585c;
    color: var(--color-text);
    /* background-color: #fff;
    background-color: var(--color-bg); */
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    -moz-osx-font-smoothing: grayscale;
}

.demo-2 {
    --color-text: #fff;
    --color-bg: #111100;
    --color-link: #fff;
    --color-link-hover: #7b7b7b;
    --color-info: #7b7b7b;
    /* background-image: url(../img/glitch1.jpg); */
    background-position: center;
    /* border-left: 4rem solid #181819; */
}


/* Fade effect */

.js body {
    opacity: 0;
    transition: opacity 0.3s;
}

.js body.render {
    opacity: 1;
}


/* Page Loader */

.js .loading::before {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    content: '';
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}


/* Icons */

.icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    display: block;
    position: absolute;
    left: 68%;
    transform: translateX(-50%)!important;
}

@media screen and (max-width: 65em) {
    body {
        border: 0 !important;
    }
    .content {
        flex-direction: column;
        height: 100%;
        left: 50%;
    }
    .layer img {
        display: none !important;
    }
}

.layer img {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    right: 0px;
    z-index: 1000;
    pointer-events: none;
}


/* //Custom Scroll-------------------------------------------------------------------------------------------------------- */

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #000000;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}